<template>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Texto de busqueda</label>
            <input v-model="busqueda" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label>Porcentaje Similitud</label>
            <input v-model="porcentaje" type="text" class="form-control">
        </div>
        <div class="form-group col-md-3 text-center">
            <button @click="buscar()" class="btn btn-success mt-3">Buscar</button>
        </div>

        <div class="form-group col-md-12">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo persona</th>
                        <th scope="col">Tipo cargo</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Municipio</th>
                        <th scope="col">Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="coincidencia in arrayCoincidencias" :key="coincidencia.id">
                        <td v-text="coincidencia.nombre_encontrado"></td>
                        <td v-text="coincidencia.otros_campos.tipo_persona"></td>
                        <td v-text="coincidencia.otros_campos.tipo_cargo"></td>
                        <td v-text="coincidencia.otros_campos.departamento"></td>
                        <td v-text="coincidencia.otros_campos.municipio"></td>
                        <td v-text="coincidencia.porcentaje_encontrado + ' %'"></td>
                    </tr>
                </tbody>
            </table>
            <h3>{{mensaje}}</h3>
        </div>
    </div>
</template>

<script>
    
    export default {
        data(){
            return{
                busqueda:"",
                porcentaje:"",
                mensaje: "",
                //
                arrayCoincidencias:[],
            }
        },
        methods:{
            buscar(){

                const headers = {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest',
                    'api-key': 'WlskIyHmkUfMsyjkTksh',
                }

                let url = '/api/v1/busqueda/nueva';
                let data = { busqueda: this.busqueda , porcentaje: this.porcentaje };

                axios.post(url, data, {
                    headers: headers
                })
                .then((response) => {
                    this.mensaje = '';

                    if (typeof response.data.coincidencias !== 'undefined') {
                        this.arrayCoincidencias = response.data.coincidencias;
                    } else {
                        this.mensaje = response.data.estado_ejecucion;
                        this.arrayCoincidencias = []; 
                    }
                })
                .catch((error) => {
                    this.arrayCoincidencias = {};
                    //
                    this.mensaje = 'Hubo un error inesperado.';
                    console.log(error);
                })
            },
        },
    }
</script>
